<!DOCTYPE html>
<html>
<head>
  <title>84th Problem</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.13/Tone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.6.7/nipplejs.min.js"></script>
  <style>
    canvas {
      width: 100vw;
      height: 100vh;
    }

    .nipple {
      z-index: 999999
    }
  </style>
</head>
<body>
  <div id="app">
    <label>Base: {{baseFrequency}}</label> <label>Oscillators: {{oscillators}}</label>
<!--     <br>
    <label>HSL</label>
    <input type="range" min="0" max="360" v-model="canvasConfig.h"></input>
    <input type="range" min="0" max="100" v-model="canvasConfig.s"></input>
    <input type="range" min="0" max="100" v-model="canvasConfig.l"></input>
    <br>
    <label>Shape (H/W)</label>
    <input type="range" min="0" max="100" v-model="canvasConfig.rh"></input>
    <input type="range" min="0" max="100" v-model="canvasConfig.rw"></input>
    <label># shapes / interval</label>
    <input type="range" min="0.0001" max="0.01" step="0.0001" v-model="canvasConfig.percent"></input>
 -->    <button @click="fullScreen">canvas full screen</button>
     <div id="canvasContainer">
      <canvas id="pixels"></canvas>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        canvasConfig: {
          h: 0,
          s: 11,
          l: 30,
          rw: 100,
          rh: 1,
          percent: 0.0001  ,
          interval: 500,
        }
      },
      computed: {
        baseFrequency () {
          return _.sample([110, 220, 440])
        },
        oscillators () {
          return _.random(2, 20)
        }
      },
      methods: {
        fullScreen() {
          var canvas = document.getElementById("canvasContainer")
          if(canvas.RequestFullScreen){
              canvas.RequestFullScreen();
          }else if(canvas.webkitRequestFullScreen){
              canvas.webkitRequestFullScreen();
          }else if(canvas.mozRequestFullScreen){
              canvas.mozRequestFullScreen();
          }else if(canvas.msRequestFullscreen){
              canvas.msRequestFullscreen();
          }else{
              alert("This browser doesn't supporter fullscreen");
          }
        }
      },
      mounted () {
        var vue = this

        createCanvas()
        createDrone()
        createControls()

        function createCanvas() {
          var canvas = document.getElementById("pixels");
          var ctx = canvas.getContext("2d");           

          let w = window.screen.width * window.devicePixelRatio;
          let h = window.screen.height * window.devicePixelRatio;
          var pixels = Math.round((w * h) / 2);


          window.setInterval(()=>{
            let h = vue.canvasConfig.h + Math.random()*5
            let s = vue.canvasConfig.s + Math.random()*5
            let cw = vue.canvasConfig.rw * _.random(1, 1.1)
            let ch = vue.canvasConfig.rh * _.random(1, 1.1)

            for (var i = 0; i < pixels * vue.canvasConfig.percent; i++) {
                ctx.fillStyle = 'hsl('+ h +','+ s +'%,'+vue.canvasConfig.l+'%)';
                ctx.fillRect(_.random(-40, 600), _.random(-40, 600), cw, ch);
              }
          }, vue.canvasConfig.interval)          

        }

        function createDrone() {

          // Gain is the output node but also determines how loud
          // TODO: Maybe loop this or something
          var droneOut = new Tone.Gain(0.25);
          droneOut.toMaster()

          // Creates an output chain for each oscillator, generates random playback, & pans audio [final two update constantly]
          function createNoiseGen(freq) {

            // Create panner 
            var panner = new Tone.Panner3D();
            var max = 20;
            var min = -20;
            var x = _.random(min, max);
            var y = _.random(min, max);
            var z = _.random(min, max);
            panner.setPosition(x, y, z);
            panner.connect(droneOut);

            var filter = new Tone.Filter({frequency: freq, type: 'lowpass', Q: 50})
            filter.connect(panner);

            var noiseSource = new Tone.Noise("pink")
            noiseSource.start()
            noiseSource.connect(filter);

            // Update panner position ever 500ms
            setInterval(function () {
              x = x + _.random(-0.1, 0.1);
              y = y + _.random(-0.1, 0.1);
              z = z + _.random(-0.1, 0.1);
              panner.setPosition(x, y, z);
            }, 500);
          }

          var scale = [0.0, 2.0, 4.0, 6.0, 7.0, 9.0, 11.0, 12.0, 14.0];

          // Run createNoiseGen() for each oscillator
          // // function takes bounded random frequency
          for (var i = 0; i < 10; i++) {

            // Get random note from scale and smudge
            let freq = vue.baseFrequency * Math.pow(1.05945946, _.sample(scale))
            freq += Math.random() * 4 - 2;
            createNoiseGen(freq);
          }
        }

        function createControls() {
          var options = {
            zone: document.getElementById("canvasContainer")
          }
          var manager = nipplejs.create(options);
          manager.on('move', (e, data) => {
            vue.canvasConfig.h = data.angle.degree
            vue.canvasConfig.rh = data.distance
          })
        }

        }
    })
  </script>
</body>
</html>
